{% extends 'skills/base.html' %}
{% load static %}

{% block content %}

<h1>Портфолио разработчика</h1>
<!--вставляем статическую картинку-->
<div class="img">
    <img src="{% static 'skills/wc.jpg' %}" alt="">
</div>

<h2>Стек технологий:</h2>

<div class="block">
    {% for project in projects %}
    <div class="element">
        <div>
<!--  выводим изображение-->
            <img src="{{ project.image.url }}" alt="">
        </div>
        <div class="text">
<!-- берем заголовок и описание из БД, project.url это адрес сайта находящийся в БД и открываем его в новой вкладке-->
            <h2><a href="{{ project.url }} " target="_blank">{{ project.title }}</a></h2>
            <h2>{{ project.description }}</h2>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}